services:
  - type: web
    name: amazon-group-backend
    env: node
    rootDir: backend
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /health
    autoDeploy: true
    plan: starter
    envVars:
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: MP_ACCESS_TOKEN
        sync: false
      - key: MP_CURRENCY_ID
        value: PEN
      - key: FRONTEND_URL
        sync: false
      - key: CORS_ORIGIN
        sync: false
      - key: NODE_VERSION
        value: 20.15.1